.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #861e1e;
  height: 200px;
  padding: 20px;
  color: #222;
}
.App-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.showlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #861e1e;
  text-decoration: none !important;
  margin: 5px;
}
.showlink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.title {
  font-weight: bold;
  color: #861e1e;
}

.App-link {
  color: #61dafb;
}

.profile-container {
}
.profile-picture {
  padding: 0.5em;
  float: left;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
