.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #861e1e;
  height: 200px;
  padding: 20px;
  color: #222;
}
.App-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.showlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #861e1e;
  text-decoration: none !important;
  margin: 5px;
}
.showlink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.title {
  font-weight: bold;
  color: #861e1e;
}

.App-link {
  color: #61dafb;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  background: #eee;
  background-image: url("https://images.pond5.com/cartoon-clouds-background-seamless-looping-090171541_prevstill.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  color: red;
  margin: 5px 0 15px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1.MuiTypography-root.MuiTypography-h1 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  /* line-height: 1.6; */
  letter-spacing: 0.0075em;
}
h1.MuiTypography-root.MuiTypography-h1 a {
  color: white;
}
