@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiToolbar-root {
  justify-content: space-between;
}

.MuiTypography-h6 a {
  color: white;
  text-decoration: none;
}

.MuiTypography-h6 a:hover {
  text-decoration: underline;
}

.progress-placeholder {
  border: 2px solid white;
}

.MuiTextField-root {
  margin: 32px 0 !important;
  width: 500px;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.MuiImageList-root {
  padding: 0 4px 4px 4px !important;
}
